﻿<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome Laurens & Michiel Project µC & Embedded</title>
<!--make sure mobile devices display the page at the proper scale	-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">
</head>
<body id="home" class="no-js">
<div id="wrapper">
  <header id="mainHeader"> <a href="/" title="home" class="logo">
   <!-- I need this div because IE is an affront to mankind-->
   <div>
    <h1>Project µC & Embedded</h1>
     </div>
    </a>
    <nav id="siteNav">
      <h1>Where do you want to go?</h1>
      <ul>
       <li><a href="@Url.Action("GetAllItems","DynamoDB")" title="Temperatuur via LoraWan">Temperatuur<br /><span class="tagline">Temperatuur via LoraWan</span></a>
        </li>
        <li><a href="@Url.Action("Webcam","Webcam")"  title="Can you see?">Webcam <br /><span class="tagline">Webcam point of view</span></a></li>
       @*<li><a href="resources.htm" title="Stuur de relais aan!">Relais<br /><span class="tagline">Relais aansturing</span></a>
          <ul>
            <li><a href="resources/faq.htm" title="Got questions?">Tour FAQs</a></li>
            <li><a href="resources/additional_resources.htm" title="additional resources">Tour Information</a></li>
            <li><a href="resources/terms.htm" title="terms and conditions">Site Terms</a></li>
          </ul>*@
        @*</li>*@
        <li><a href="@Url.Action("Index","Blog")" title="Our community">Blog <br /><span class="tagline">join our community</span></a>
        </li>
        @*<li><a href="contact.htm" title="contact us" class="last">Contact <br /><span class="tagline">We're listening</span></a>
          <ul>
            <li><a href="support.htm" title="Need help?">Support</a></li>*@
          </ul>
        @*</li>
      </ul>*@
    </nav>
  </header>
  <section id="actionCall">
      @if (IsSectionDefined("header"))
      {
          @RenderSection("header",false)
      } else
      {
       <br/><br/>
      }
  </section>
  <div id="contentWrapper">
      <section id="mainContent">
          @RenderBody()
      </section>
     

      <aside id="secondaryContent">
          @if (IsSectionDefined("secondaryContent"))
          {
              @RenderSection("secondaryContent", false)
          } else
          {
              <div id="specials" class="callOut">
                  @await (Component.InvokeAsync<ProEmbV4.ViewComponents.UsedModelsViewComponent>())
                  <br /><br/>
              </div>
          }
         
      </aside>
  </div>
  <footer id="pageFooter">
  <section id="quickLinks">
  <h1>Quick Nav</h1>
    <ul id="quickNav">
      <li><a href="/" title="Our home page">Home</a></li>
      <li><a href="@Url.Action("GetAllItems","DynamoDB")" title="Temperatuur via LoraWan">Temperatuur</a></li>
      <li><a href="@Url.Action("Webcam","Webcam")" title="Webcam">Webcam</a></li>
      @*<li><a href="resources.htm" title="Relais">Relais</a></li>
      <li><a href="explorers.htm" title="PLACEHOLDER">PLACEHOLDER</a></li>
      <li><a href="contact.htm" title="Contact and support">Contact</a></li>*@
    </ul>
  </section>
  @*<section id="footerResources">*@
  @*<h1>Resources</h1>
    <ul id="quickNav">*@
      @*<li><a href="resources/faq.htm" title="Our home page">FAQ</a></li>*@
      @*<li><a href="support.htm" title="Need help?">Support</a></li>*@
      @*<li><a href="resources/legal.htm" title="The fine print">Legal</a></li>*@
      @*<li><a href="login.htm">Login</a></li>
    </ul>*@
  @*</section>*@
  <section id="companyInfo">
  <h1>Contact</h1>
  <h2>Laurens & Michiel 2IC </h2>
  <p>
      Doorniksesteenweg 145<br />
      Kortrijk 8500 @DateTime.Now.Year
  </p>
  </section>
  </footer>
</div>
</body>
</html>
